.box {
  /*position: absolute;*/
  height: 510px;
  width: 1000px;
  background-color: Beige;
  font-family: sans-serif;

}

.row1 {
  float: left;
  width: 900px;
  padding-top: 30px;
  padding-left: 30px;
}

.row2 {
  width: 900px;
  float: left;
  /*display: flex;
  flex-direction: row;
  justify-content: space-around;*/
  padding-left: 30px;
  padding-top: 50px;
}

.row3 {
  float: left;
  width: 900px;
  padding-top: 50px;
  padding-bottom: 30px;
  padding-left: 30px;
}

.for2people {
  display: inline-block;
  height: 100px;
  width: 100px;
  background: radial-gradient(#858585, #4F4F4F);
  border: 3px solid #363636;
  border-radius: 4px;
}

.for4people {
  display: inline-block;
  height: 150px;
  width: 100px;
  background: radial-gradient(#858585, #4F4F4F);
  border: 3px solid #363636;
  border-radius: 4px;
}

.for6people {
  display: inline-block;
  height: 100px;
  width: 200px;
  background: radial-gradient(#858585, #4F4F4F);
  border: 3px solid #363636;
  border-radius: 4px;
}

/*.for2people.free:hover,.for4people.free:hover,.for6people.free:hover*/
.for2people.free:hover,.for4people.free:hover,.for6people.free:hover{
  background:  radial-gradient(#ADADAD, #4F4F4F);
}

#table2, #table3, #table4 {
  margin-left: 50px;
  text-align: center;
  padding-top: 35px;
}

#table5, #table6, #table7 {
  margin-left: 150px;
  text-align: center;
  padding-top: 55px;
}

#table9, #table10 {
  margin-left: 50px;
  text-align: center;
  padding-top: 35px;
}

#table1, #table8 {
  text-align: center;
  padding-top: 35px;
}

.barnayaStoyka{
  height: 510px;
  width: 100px;
  margin-left: 900px;
  background-color: Chocolate;
  text-align: center;
  font-family: sans-serif;
  padding-top: 225px;
}

h1 {font-size:21px !important;}



/*==================================================
 * Effect 8
 * ===============================================*/
.effect8
{
    position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.effect8:before, .effect8:after
{
    content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:10px;
    bottom:10px;
    left:0;
    right:0;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}
.effect8:after
{
    right:10px;
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg);
       -moz-transform:skew(8deg) rotate(3deg);
        -ms-transform:skew(8deg) rotate(3deg);
         -o-transform:skew(8deg) rotate(3deg);
            transform:skew(8deg) rotate(3deg);
}
#tableNumber{
  display: none;
}
#timeOfOrder{
  display: none;
}

.reserved {
    /*width: 200px;
    height: 100px;
    border: 3px solid #363636;
    border-radius: 4px;*/
    background: repeating-linear-gradient(135deg, #1F1F1F, #1F1F1F 10px, #2B2B2B 10px, #2B2B2B 20px);
}
